/sprites/
/audio/
/data/Pokemon-Showdown/
/config/
/index.php
/index.html
/data/*
!/data/tpp.js
!/data/emoteregex.js
!/data/graphics.js
!/data/learnsets-g6.js
!/data/custom/
node_modules/
eslint-cache/
.DS_Store
Thumbs.db
/lib/ntbb-config.lib.php
npm-debug.log
/emotes/*
!/emotes/-x/
!/emotes/-robot/
!/emotes/emoteregex.js
!/emotes/update-emotes
/badges/*
!/badges/_Error_.png
!/badges/_trainercard_bg.png
!/badges/badge-get.mp3
!/badges/badge-anim.js
